body {
  /* background: #121242; */
  background: #010131;
  padding: 50px;
}

div#crypto-container {
  background: #232343;
  width: 70%;
  margin: 0 auto 5px auto;
  padding: 1em;
  box-shadow:  1px 1px 0 #676777;
}

span {
  color: white;
  display: inline-block;
}

span.left {
  font-weight: bold;
  width: 200px;
}

span.prices {
  width: 20%;
}
